.categoria {
  gap: 85px;
  display: flex;
}

.categorias button{
  padding: 15px 50px;
  border-radius: 25px;
  border: none;
  background-color: #f67041;
  color: #fff;
}

.card{
  display: relative;
  background-color: white;
  box-shadow: 30px black;
  padding: 60px 30px;
}