.sectionsHeader {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.sectionInfo a {
  display: flex;
  align-items: center;
  color: var(--textColor);
  text-transform: uppercase;
  height: 40px;
  padding: 10px 20px;
  background-color: var(--cardColor);
  transition: all 0.3s ease;
  border-radius: 20px;
  transition: all 0.3s ease;

  &:hover, &.active {
    color: var(--backgroundColor);
    background-color: var(--primaryColor);
    transition: all 0.3s ease;
  }
}

.card-cont {
  width: 1000px;
  background-color: var(--cardColor);
  text-align: left;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-cont h1 {
  color: var(--primaryColor);
  text-align: center;
  margin-bottom: 10px;
}

.card-cont h3 {
  margin-top: 20px;
}
