/* Formulario*/
.card-title{
  text-align: center;
  margin-bottom: 20px;
  color: var(--textColor);
}

.form-nueva-receta {
  max-width: 70vw;
  margin: auto;
}

.fila-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.fila-flex .input-wrapper {
  flex: 1; 
  margin: 0;
}

.textarea-descripcion {
  min-height: 150px !important;
}

.fila-columnas {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .fila-columnas {
    grid-template-columns: 1fr;
  }
}

.textarea-grande {
  min-height: 350px !important;
}

.fila-archivos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.fila-archivos .input-wrapper {
  width: 100%;
  max-width: 728px; 
  margin: 0;
}

.formButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.formButton button{
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.formButton button:hover {
  transform: scale(1.05);
  background-color: var(--primaryColHover);
}

.formButton .btn-cancel {
  cursor: pointer;
  background-color: transparent;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
.formButton .btn-cancel:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--primaryColor);
  transform: scale(1.05);
}


.input-wrapper select {
  width: 100%;
  background-color: var(--cardColor);
  border: 1px solid var(--textColor);
  border-radius: 20px;
  padding: 14px 10px 14px 10px;
  transition: all .3s ease;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23410a09%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-13%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2013l128%20128c3.6%203.6%207.8%205.4%2013%205.4s9.4-1.8%2013-5.4l128-128c3.6-3.6%205.4-7.8%205.4-13%200-5-1.8-9.4-5.4-13z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  background-size: 10px;
  color: var(--textColor);
}

.input-wrapper select:focus {
  outline: none;
  border-color: var(--primaryColor);
  box-shadow: 0 0 2px var(--primaryColor);
}

.input-wrapper select:valid + label {
  font-size: 13px;
  background-color: var(--cardColor);
  color: var(--primaryColor);
  transform: translateY(-22px) scale(0.85);
  transition: all .3s ease;
}

.input-wrapper input[type="file"] {
  color: #888;
  padding-top: 10px;
}

.input-wrapper input[type="file"]::file-selector-button {
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.input-wrapper input[type="file"]::file-selector-button:hover {
  background-color: var(--primaryColHover);
}

/* Uploader de imagenes */
.upload-container {
  background-color: var(--cardColor);
  border-radius: 20px; 
  border: 1px solid var(--textColor);
  padding: 24px;
  width: 100%;
  margin: 20px auto;
}

.upload-container h3 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--textColor);
  text-align: center;
}

/* Zona de "arrastrar y soltar" */
.drop-zone {
  border: 2px dashed var(--secBackgroundCol);
  border-radius: 20px;
  background-color: var(--backgroundColor);
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 200px;
  position: relative;
  overflow: hidden;
}

.drop-zone.dragover {
  border-color: var(--primaryColor);
  background-color: var(--secBackgroundCol);
}

.drop-zone.has-image {
  border: 1px solid var(--secBackgroundCol);
  padding: 0;
  background-color: #fff;
}

.drop-zone-prompt .upload-icon {
  font-size: 90px;
  color: var(--primaryColor);
  margin-bottom: 10px;
}

.drop-zone-prompt p {
  margin: 0;
  color: var(--textColor);
}

.drop-zone-prompt .browse-link {
  color: var(--primaryColor); 
  font-weight: 600;
  text-decoration: none;
}

.drop-zone-preview {
  width: 100%;
  height: 100%;
  position: relative;
}

.drop-zone-preview img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
}

.remove-image-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primaryColHover);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

.drop-zone-preview:hover .remove-image-btn {
  opacity: 1; 
}