@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primaryColor: #f67041;
  --primaryColHover: #dc6d44;
  --backgroundColor: #fff8f3;
  --secBackgroundCol: #fee5d6;;
  --textColor: #410a09;
  --cardColor: #ffffff;
}

body {
  min-height: 100vh;
  background-color: var(--backgroundColor); 
  color: var(--textColor);
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 80px 0;
}

/* --- Inputs personalizados --- */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--backgroundColor) inset !important;
    -webkit-text-fill-color: var(--textColor) !important;
}

.input-wrapper {
  position: relative;
  margin: 20px 0;
}

.input-wrapper input,
.input-wrapper textarea {
  width: 100%;
  background-color: var(--cardColor);
  border: 1px solid var(--textColor);
  border-radius: 20px;
  padding: 14px 10px 14px 10px;
  transition: all .3s ease;
  font-size: 16px;
  
  &:focus {
    outline: none;
    border-color: var(--primaryColor);
    transition: all .3s ease;
    box-shadow: 0 0 2px var(--primaryColor);
  }
}

.input-wrapper textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 500px;
  resize: none;
}

.input-wrapper input:focus+label,
.input-wrapper input:not(:placeholder-shown)+label,
.input-wrapper textarea:focus+label,
.input-wrapper textarea:not(:placeholder-shown)+label {
  font-size: 13px;
  background-color: var(--cardColor);
  color: var(--primaryColor);
  transform: translateY(-22px) scale(0.85);
  transition: all .3s ease;
}

.input-wrapper label,
.input-wrapper textarea + label {
  position: absolute;
  left: 10px;
  top: 14px;
  color: var(--textColor);
  padding: 0 4px;
  font-size: 16px;
  pointer-events: none;
  transform-origin: top left;
  transition: all 0.3s ease;
}

.input-wrapper .togglePwd {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  right: 4px;
  padding: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: var(--textColor);
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease;
  }
}

/* Títulos y contenidos de las cards */
.card-title, .terms {
  text-align: center;
  margin-bottom: 20px;
}

.card-title h1 {
  color: var(--primaryColor);
  font-size: 50px;
}

.card-title h3 {
  color: var(--primaryColor);
  color: var(--textColor);
  font-size: 25px;
}

.card-title p {
  color: var(--textColor);
  font-size: 17px;
  margin-bottom: 20px;
}

.btnSubmit, .txtLoginRegister {
  justify-content: center;
  display: flex;
}

.btnSubmit button {
  width: 100%;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 16px;
  outline: none;
  border: 1 solid var(--primaryColHover);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background-color: var(--primaryColHover);
    transition: all 0.3s ease;
  }
}

/* --- Menú --- */
.Menu{
  background-color: var(--secBackgroundCol);
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
}

.Menu li h1{
  color: var(--primaryColor);
  margin-left: 50px;
}

.Menu li a{
  color: var(--textColor);
  padding: 10px;
  display: block;
  margin-left: 30px;
  transition: all 0.3s ease;
  border-radius: 20px;

  &:hover, &.active {
    color: #fff;
    background: var(--primaryColor);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
}

.Menu li{
  display: inline-block;
  text-align: center;
}

.searchbar {
  display: flex;
}

.searchbar i {
  font-size: 16px;
}

.Menu input{
  display: flex;
  justify-content: flex-end;
  min-width: 400px;
  padding: 14px 10px 14px 10px;
  border-radius: 20px 0 0 20px;
  border: 0;
  outline: none;
  font-size: 16px;
  height: 50px; 
  margin-left: 70px;
  text-align: right;
  transition: color 0.3s ease;

  &:focus {
    border: solid 1px var(--primaryColor);
    transition: color 0.3s ease;
  }
}

.Menu button{
  background-color: var(--primaryColor);
  padding: 10px 15px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primaryColHover);
    transition: all 0.3s ease;
  }
}

.Menu .logo {
  font-size: 50px;
  font-weight: bold;
  color: var(--primaryColor);
  transition: all 0.3s ease;
  
  &:hover {
    transform: scale(1.15);
    transition: all 0.3s ease;
    background-color: transparent;
    color: var(--primaryColor);
  }
}

/* --- Footer/pie de página --- */
footer {
  margin-top: auto; 
  width: 100%;
  background-color: var(--secBackgroundCol);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 200px;
}

.footer-section h1 {
  color: var(--primaryColor);
  margin-bottom: 10px;
}

.footer-section h3 {
  text-transform: uppercase;
  color: var(--textColor);
  margin-bottom: 10px;
}

.footer-section a {
  color: var(--textColor);
  transition: all 0.3s ease;

  &:hover {
    color: var(--primaryColor);
    text-decoration: underline;
    transition: all 0.3s ease;
  }
}

/* --- Card recetas --- */
.card-receta {
  max-width: 300px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-8px);
    transition: all 0.3s ease;
    box-shadow: 0 12px 28px rgba(0,0,0,0.2);
  }
}

.receta-photo {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.cont-photo {
  display: flex;
  justify-content: center;
}

.cont-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease;
}

.card-receta:hover .cont-photo img, .card-categoria:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.receta-info {
  padding: 16px;
  flex-grow: 1;
}

.receta-info h3 {
  font-size: 19px;
  color: #333;
  margin-bottom: 8px;
}

.receta-info p {
  font-size: 15px;
  color: #666;
  line-height: 1.4;
}

.receta-calif {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px;
  color: #f5c518;
  font-size: 20px;
}

.receta-calif .rating {
  margin-right: 5px;
}

.btnVer {
  padding: 16px;
  text-align: center;
}

.btnVer button {
  padding: 10px 19px;
  background: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primaryColHover);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

/* Editar receta*/
.card-form-receta {
  background-color: var(--cardColor);
  text-align: left;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  width: 100%;
}