{% extends 'base.html' %}
{% block title %}
Iniciar sesión
{% endblock %}
{% block content %}
<main>
    <div class="card-login">
        <div class="card-title">
            <h3 class="title">¡Bienvenido de nuevo!</h3>
            <h1>Inicia sesión</h1>
        </div>
        <form action="/login" method="post" id="formLogin">
            {% if error %}
                <div class="error">
                    <i class="bx bx-error"></i> {{ error }} <i class="bx bx-x btn-close"></i>
                </div>
            {% endif %}
            <div class="input-wrapper">
                <input type="text" placeholder=" " id="idEmail" name="email" value="{{ correo or '' }}" required>
                <label for="idEmail">Correo</label>
            </div>
            <div class="input-wrapper">
                 <input type="password" placeholder=" " id="idPassword" name="password" value="{{ password or '' }}" required>
                 <label for="idPassword">Contraseña</label>
             </div>
             <div class="txtForgotPwd">
                 <a href="/recuperar">¿Olvidaste tu contraseña?</a>
             </div>
            <div class="btnSubmit">
                <button type="submit" form="formLogin">Iniciar sesión</button>
            </div>
        </form>
       <div class="txtLoginRegister">
            <span>¿No tienes cuenta?</span> <a href="/registro">Regístrate</a>
       </div>
    </div>
</main>
{% endblock %}