{% extends 'base.html' %}
{% block title %}
Sugerencia
{% endblock %}
{% block content %}
<main>
    <div class="card-cont">
        <h1>Dinos que sugerencia o comentario que tiene sobre nosotros.</h1>
        <div class="input-wrapper">
            <input type="text" placeholder=" " id="idEmail" name="email" required>
            <label for="idEmail">Correo</label>
        </div>
        <div class="input-wrapper asunto">
            <textarea name="mensaje" id="idSugerencia" placeholder=" "></textarea>
            <label for="idSugerencia">Escribe tu sugerencia</label>
        </div>
        <div class="btnSubmit">
            <button type="submit">Enviar</button>
        </div>
    </div>
</main>
{% endblock %}