{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mis-recetas.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-receta.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/categorias.css') }}">
{% endblock %}

{% block title %}
Panel Admin - Recetas
{% endblock %}

{% block content %}
<main>
  <div class="page-container">
    
    <div class="card-title">
        <h1>Administración de recetas</h1>
        <p>Gestión global de contenido</p>
    </div>

    {% if recetas|length == 0 %}
      <div class="no-results">
        <h3>No hay recetas registradas en el sistema.</h3>
      </div>
    {% else %}
      <div class="container"> 
        {% for r in recetas %}
        <div class="card-receta">
            <div class="receta-opciones">
                <button class="btn-opciones">
                    <i class='bx bx-dots-vertical-rounded'></i>
                </button>
                <div class="opciones-menu">
                    <a href="{{ url_for('editar_receta', idReceta=r.idReceta) }}">
                        Editar receta
                    </a>
                    
                    <button type="button" 
                            class="btn-eliminar-directo" 
                            onclick="abrirModalConfirmacion(event, '{{ r.idReceta }}')">
                        Eliminar receta
                    </button>
                </div>
            </div>

          <div class="receta-photo">
              <div class="cont-photo">
                  <img src="/receta/obtenerImagen/{{r.idReceta}}">
              </div>
          </div>
          
          <div class="receta-info">
              <h3>{{ r.nombre }}</h3>
              <p>{{ r.descripcion[:60] }}...</p>
              <span class="receta-autor">
                  <i class='bx bxs-user'></i> Autor: {{ r.usuario.nombreUsuario }}
              </span>
          </div>
  
          <form action="/receta/{{r.idReceta}}" method="get">
            <div class="btnVer">
                <button>Ver receta</button>
            </div>
          </form>
  
        </div>
        {% endfor %}
      </div>
    {% endif %}

    <div id="modalConfirmar" class="modal-overlay">
        <div class="modal-contenido">
            <h3>Confirmar Eliminación Administrativa</h3>
            <p>¿Estás seguro de eliminar esta receta? Esta acción afectará al usuario creador y no se puede deshacer.</p>
            <div class="modal-botones">
                <button type="button" id="btnCancelarModal" class="modal-btn modal-btn-cancelar">Cancelar</button>
                <button type="button" id="btnEliminarModal" class="modal-btn modal-btn-eliminar">Eliminar</button>
            </div>
        </div>
    </div>

  </div>
  <script src="{{ url_for('static', filename='js/admin-recetas.js') }}"></script>
</main>
{% endblock %}