<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>
        {% block title %}
        
        {% endblock %} 
    </title>
</head>
<body>
    <ul class="Menu">
        <li><a class="logo" href="/">WR</a></li>
        <li><a href="#">Categorias y dificultad</a></li>
        <li><a class="{% if request.endpoint == 'sugerencias' %}active{% endif %}" href="{{url_for('sugerencias')}}">Sugerencias</a></li>
        <li><a href="{% if session.get('usuario') %}{{ url_for('perfil') }}{% else %}{{ url_for('login') }}{% endif %}">Perfil</a></li>
        {% if not session.get('usuario') %}
        <li><a class="{% if request.endpoint == 'login' %}active{% endif %}" href="{{url_for('login')}}">Iniciar sesión</a></li>
        {% endif %}
        <input type="text" placeholder="Buscar Receta">
        <button><i class="bx bx-search"></i></button>
    </ul>
    {% block content %}

    {% endblock %}
</body>
</html>