<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>
        {% block title %}
        
        {% endblock %} 
    </title>
</head>
<body>
    <ul class="Menu">
        <li><a class="logo" href="/">WR</a></li>
        <li><a href="{{ url_for('categorias') }}" class="{% if request.endpoint == 'categorias' %}active{% endif %}">Categorías</a></li>
        <li><a class="{% if request.endpoint == 'sugerencias' %}active{% endif %}" href="{{url_for('sugerencias')}}">Sugerencias</a></li>
        <li><a href="{% if session.get('usuario') %}{{ url_for('perfil') }}{% else %}{{ url_for('login') }}{% endif %}" class="{% if request.endpoint == 'perfil' %}active{% endif %}">Perfil</a></li>
        {% if not session.get('usuario') %}
        <li><a class="{% if request.endpoint == 'login' %}active{% endif %}" href="{{url_for('login')}}">Iniciar sesión</a></li>
        {% endif %}
        <div class="searchbar">
            <input type="text" placeholder="Buscar receta">
            <button><i class="bx bx-search"></i></button>
        </div>
    </ul>
    {% block content %}

    {% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
<footer>
    <div class="footer-section">
        <h1>WikiRecetas</h1>
        <i class="bx bx-phone"></i>&nbsp;+52 123 456 7890
        <br>
        <i class="bx bx-envelope"></i>&nbsp;WikiRecetas@gmail.com
    </div>
    <div class="footer-section">
        <h3>Enlaces Rápidos</h3>
        <a href="{{ url_for('contactar') }}"><li>Contacto</li></a>
        <a href="{{ url_for('sugerencias') }}"><li>Sugerencias</li></a>
        <a href="{{ url_for('categorias') }}"><li>Categorias y dificultad</li></a>
    </div>
</footer>
</html>