{% extends 'base.html' %}
{% block title %}
Categorias
{% endblock %}
{% block content %}
<main>
    <div class="container sugerencias">
        <div class="carrousel">
            <p>Carrusel</p>
        </div>
        <div class="card-receta">
            <div class="receta-photo">
                <div class="cont-photo">
                    <img src="" alt="Foto de la receta">
                </div>
            </div>
            <div class="receta-info">
                <h3>Nombre receta</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="receta-calif">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="btnSubmit">
                <button>Ver receta</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}