{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info-secciones.css') }}">
{% endblock %}
{% block title %}
Contáctanos
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="sectionsHeader">
            <div class="sectionInfo">
                <a href="/info/aviso-de-privacidad">Aviso de privacidad</a>
            </div>
            <div class="sectionInfo">
                <a href="/info/politicas-de-uso">Políticas de uso</a>
            </div>
            <div class="sectionInfo">
                <a class="active" href="/info/contactar">Contáctanos</a>
            </div>
        </div>
        <div class="card-cont">
            <h1>Contáctanos</h1>
            <form action="/contactar">
                <div class="input-wrapper">
                    <input type="text" placeholder=" " id="idNombre" name="nombre" autocomplete="given-name" required>
                    <label for="idEmail">Nombre</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" placeholder=" " id="idEmail" name="email" required>
                    <label for="idEmail">Correo</label>
                </div>
                <div class="input-wrapper">
                    <textarea name="mensaje" id="idMensaje" placeholder=" "></textarea>
                    <label for="idMensaje">Mensaje</label>
                </div>
            </form>
            <div class="btnSubmit">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}