{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}
{% block title %}
Mi perfil
{% endblock %}

{% block content %}
<main>
    <div class="container-profile">
        <div class="card-profile">
            
            <form action="/cuenta/perfil/editar/{{u.idUsuario}}" method="post" id="formEditarPerfil" enctype="multipart/form-data">

                <div class="cont-photo">
                    <input type="file" name="fotoUsuario" id="profilePicInput" accept="image/*" hidden>
                    
                    <div class="profile-photo" id="profileDropZone">
                        <img src="/usuarios/obtenerImagen/{{u.idUsuario}}" id="profileImagePreview">
                        <div class="btnEditPhoto">
                            <button type="button" id="editProfileBtn"><i class="bx bx-pencil"></i></button>
                        </div>
                    </div>
                </div>

                <div class="input-wrapper">
                    <input type="text" placeholder=" " id="idUsuario" name="usuario" value="{{ u.nombreUsuario }}" required>
                    <label for="idUsuario">Nombre de usuario</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" placeholder=" " id="idNombre" name="nombre" value="{{ u.nombre }}" required>
                    <label for="idNombre">Nombre</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" placeholder=" " id="idApellido" name="apellido" value="{{ u.apellido }}" required>
                    <label for="idApellido">Apellido</label>
                </div>
                <div class="input-wrapper">
                    <input type="email" placeholder=" " id="idCorreo" name="correo" value="{{ u.email }}" required>
                    <label for="idCorreo">Correo</label>
                </div>
                <div class="input-wrapper">
                    <input type="tel" placeholder=" " id="idTelefono" name="telefono" value="{{ u.telefono }}" required>
                    <label for="idTelefono">Teléfono</label>
                </div>
                <div class="btnSubmit">
                    <button type="submit" form="formEditarPerfil">Guardar</button>
                </div>
            </form>
            <div class="btnLogout">
                <a href="{{ url_for('perfil') }}">
                    <button type="button">Cancelar</button>
                </a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/profile-photo-uploader.js') }}"></script>
</main>
{% endblock %}