{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/categorias.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block title %}
Editar Categoría
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="card-form-receta cont-cat">
            
            <div class="card-title">
                <h1>Editar Categoría</h1>
            </div>

            <form action="/categoria/editar/{{ categoria.idCategoria }}" method="post">
                
                <div class="input-wrapper">
                    <input type="text" name="nombre" id="nombre" value="{{ categoria.nombre }}" required autocomplete="off">
                    <label for="nombre">Nombre de la Categoría</label>
                </div>

                <div class="input-wrapper">
                    <textarea name="descripcion" id="descripcion" required>{{ categoria.descripcion }}</textarea>
                    <label for="descripcion">Descripción</label>
                </div>

                <div class="btnSubmit">
                    <button type="submit">Guardar Cambios</button>
                </div>
                
                <form action="{{ url_for('admin_categorias') }}" method="post" id="formLogout">
                    <div class="btnCancel">
                        <button>Cancelar</button>
                    </div>
                </form>

            </form>
        </div>
    </div>
</main>
{% endblock %}