{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
{% endblock%}
{% block title %}
Inicio
{% endblock %}
{% block content %}
<main>
<!-- Carrusel -->
    <div class="content">
        <div class="slide">
            <div class="item" style="background-image: url(/static/1.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
            <div class="item" style="background-image: url(/static/2.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
            <div class="item" style="background-image: url(/static/3.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
            <div class="item" style="background-image: url(/static/4.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
            <div class="item" style="background-image: url(/static/5.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
            <div class="item" style="background-image: url(/static/6.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
            <div class="item" style="background-image: url(/static/7.jpg);">
                <div class="contenido">    
                    <div class="nombre">Receta 1</div>
                    <br>
                    <button><span>Ver receta</span></button>
                </div>
            </div>
        </div>
        <div class="button">
            <button class="bx bx-chevron-left prev"></button>
            <button class="bx bx-chevron-right next"></button>
        </div>
        <script>
            const next = document.querySelector('.next'); 
            const prev = document.querySelector('.prev');

            next.addEventListener('click', function() {
                const items = document.querySelectorAll('.item');
                document.querySelector('.slide').appendChild(items[0]);
            });

            prev.addEventListener('click', function() {
                const items = document.querySelectorAll('.item');
                document.querySelector('.slide').prepend(items[items.length - 1]);
            });
        </script>
    </div>
<!-- Tarjetas -->
    <div class="container-inicio">
        <div class="title-section">
            <i class="bx bxs-star"></i>
            <h3>Top recetas</h3>
            <i class="bx bxs-star"></i>
        </div>
        <div class="sugerencias-inicio">
            {% for receta in recetas %}
            <div class="card-receta">
                <div class="receta-photo">
                    <div class="cont-photo">
                        <img src="{{url_for('static',filename=receta.imagen)}}">
                    </div>
                </div>
                <div class="receta-info">
                    <h3>{{ receta.nombre }}</h3>
                    <p>{{ receta.descripcion }}</p>
                    
                </div>
                <div class="receta-calif">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <div class="btnVer">
                    <button>Ver receta</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}