{% extends 'base.html' %}
{% block title %}
Inicio
{% endblock %}
{% block content %}
<main>
    <div class="container-inicio">
<body>
  <div class="container">
    <div class="slide">
      <!-- Imagen 1 -->
      <div class="item" style="background-image: url('static/1.jpg');">
        <div class="content">
          <div class="name">Platillos Fuertes</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>

      <!-- Imagen 2 -->
      <div class="item" style="background-image: url('static/2.jpg');">
        <div class="content">
          <div class="name">Platillos con pescado</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>

      <!-- Imagen 3 -->
      <div class="item" style="background-image: url('static/3.jpg');">
        <div class="content">
          <div class="name">Acompañamientos</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>

      <!-- Imagen 4 -->
      <div class="item" style="background-image: url('static/4.jpg');">
        <div class="content">
          <div class="name">Cremas</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>

      <!-- Imagen 5 -->
      <div class="item" style="background-image: url('static/5.jpg');">
        <div class="content">
          <div class="name">Postres</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>

      <!-- Imagen 6 -->
      <div class="item" style="background-image: url('static/6.jpg');">
        <div class="content">
          <div class="name">Vejetariano</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>

      <!-- Imagen 7 -->
      <div class="item" style="background-image: url('static/7.jpg');">
        <div class="content">
          <div class="name">Bebidas</div>
          <br>
          <a class="seeMore" target="_blank" href="#"><button>Ver más</button></a>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="button">
      <button class="prev">◁</button>
      <button class="next">▷</button>
    </div>
  </div>


<!-- Tarjetas -->
            <div class="title-section">
                <i class="bx bxs-star"></i>
                <h3>Top recetas</h3>
                <i class="bx bxs-star"></i>
            </div>
            <div class="sugerencias-inicio">
                <div class="card-receta">
                    <div class="receta-photo">
                        <div class="cont-photo">
                            <img src="{{url_for('static',filename='img1.jpg')}}">
                        </div>
                    </div>
                    <div class="receta-info">
                        <h3>Nombre receta</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="receta-calif">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <div class="btnVer">
                        <button>Ver receta</button>
                    </div>
                </div>
                <div class="card-receta">
                    <div class="receta-photo">
                        <div class="cont-photo">
                            <img src="{{url_for('static',filename='img2.jpg')}}">
                        </div>
                    </div>
                    <div class="receta-info">
                        <h3>Nombre receta</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="receta-calif">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <div class="btnVer">
                        <button>Ver receta</button>
                    </div>
                </div>
        
                <div class="card-receta">
                    <div class="receta-photo">
                        <div class="cont-photo">
                            <img src="{{url_for('static',filename='img3.jpg')}}">
                        </div>
                    </div>
                    <div class="receta-info">
                        <h3>Nombre receta</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="receta-calif">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <div class="btnVer">
                        <button>Ver receta</button>
                    </div>
                </div>
    
                <div class="card-receta">
                    <div class="receta-photo">
                        <div class="cont-photo">
                            <img src="{{url_for('static',filename='img4.jpg')}}">
                        </div>
                    </div>
                    <div class="receta-info">
                        <h3>Nombre receta</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="receta-calif">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <div class="btnVer">
                        <button>Ver receta</button>
                    </div>
                </div>
    
                <div class="card-receta">
                    <div class="receta-photo">
                        <div class="cont-photo">
                            <img src="{{url_for('static',filename='img5.jpg')}}">
                        </div>
                    </div>
                    <div class="receta-info">
                        <h3>Nombre receta</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="receta-calif">
                        <span class="rating">4.0</span>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <div class="btnVer">
                        <button>Ver receta</button>
                    </div>
                </div>
    
                <div class="card-receta">
                    <div class="receta-photo">
                        <div class="cont-photo">
                            <img src="{{url_for('static',filename='img6.jpg')}}">
                        </div>
                    </div>
                    <div class="receta-info">
                        <h3>Nombre receta</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="receta-calif">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <div class="btnVer">
                        <button>Ver receta</button>
                    </div>
                </div>
    
            </div>
    </div>
</main>
{% endblock %}