{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block title %}
Iniciar sesión
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="card-login">
            <div class="card-title">
                <h3 class="title">¡Bienvenido de nuevo!</h3>
                <h1>Inicia sesión</h1>
            </div>
            <form action="{{ url_for('login') }}" method="post" id="formLogin">
                {% if userError %}
                    <div class="error">
                        <i class="bx bx-error"></i> {{ userError }}</i>
                    </div>
                {% endif %}
                <div class="input-wrapper">
                    <input type="text" placeholder=" " id="idEmail" name="correo" value="{{ email or '' }}" required>
                    <label for="idEmail">Correo</label>
                </div>
                <div class="input-wrapper">
                     <input type="password" placeholder=" " id="idPassword" name="password" required>
                     <label for="idPassword">Contraseña</label>
                     <i class="bx bx-show togglePwd" id="togglePassword"></i>
                 </div>
                 <div class="txtForgotPwd">
                     <a href="{{ url_for('recuperar') }}">¿Olvidaste tu contraseña?</a>
                 </div>
                <div class="btnSubmit">
                    <button type="submit" form="formLogin">Iniciar sesión</button>
                </div>
            </form>
           <div class="txtLoginRegister">
                <span>¿No tienes cuenta?</span> <a href="{{ url_for('registro') }}">Regístrate</a>
           </div>
        </div>
    </div>
</main>
{% endblock %}