<link rel="stylesheet" href="{{ url_for('static', filename='css/nueva-receta.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/info-secciones.css') }}">
{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block title %}
Nueva receta
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="card-title">
            <h1>Subir una nueva receta</h1>
            <p>Sube tu propia receta a nuestra plataforma</p>
        </div>

        <div class="card-cont">
            <form method="POST" action="{{ url_for('nueva_receta') }}" class="form-nueva-receta" enctype="multipart/form-data">
                
                <div class="fila-flex">
                    <div class="input-wrapper">
                        <input type="text" id="nombre" name="nombreReceta" placeholder=" " required>
                        <label for="nombre">Nombre de la Receta</label>
                    </div>
                    <div class="input-wrapper">
                        <select id="dificultad" name="dificultad" required>
                            <option value="" disabled selected></option>
                            <option value="Fácil">Fácil</option>
                            <option value="Media">Media</option>
                            <option value="Difícil">Difícil</option>
                        </select>
                        <label for="dificultad">Dificultad</label>
                    </div>
                    <div class="input-wrapper">
                        <select id="categoria" name="categoria" required>
                            <option value="" disabled selected></option>
                            {% for cat in categorias %}
                            <option value="{{cat.idCategoria}}">{{cat.nombre}}</option>
                            {% endfor %}
                        </select>
                        <label for="categoria">Categoría</label>
                    </div>
                </div>
                
                <div class="input-wrapper">
                    <textarea id="descripcion" name="descripcion" class="textarea-descripcion" placeholder=" " required></textarea>
                    <label for="descripcion">Descripción</label>
                </div>
                
                <div class="fila-columnas">
                    <div class="input-wrapper">
                        <textarea id="ingredientes" name="ingredientes" class="textarea-grande" placeholder=" " required></textarea>
                        <label for="ingredientes">Ingredientes</label>
                    </div>
                    <div class="input-wrapper">
                        <textarea id="preparacion" name="preparacion" class="textarea-grande" placeholder=" " required></textarea>
                        <label for="preparacion">Preparación</label>
                    </div>
                </div>
                
                <div class="upload-container">
                    <h3>Imagen de la receta</h3>
                    <div class="drop-zone" id="dropZone">
                        
                        <input type="file" id="fileInput" name="imagen" accept="image/*" hidden required>
                        
                        <div class="drop-zone-prompt" id="dropZonePrompt">
                            <i class="bx bx-image upload-icon"></i>
                            <p>Arrastra tu imagen aquí, o <span class="browse-link">busca en tu equipo</span></p>
                        </div>
                        
                        <div class="drop-zone-preview" id="imagePreviewContainer" style="display: none;">
                            <img src="" alt="Image Preview" id="imagePreview">
                            <button type="button" class="remove-image-btn" id="removeImageBtn">
                                Quitar
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="formButton">
                    <a href="{{ url_for('inicio') }}"><button type="button" class="btn-cancel">Cancelar</button></a>
                    <button type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/nueva-receta.js') }}"></script>
</main>
{% endblock %}