{% extends 'base.html' %}
{% block title %}
Políticas de uso
{% endblock %}
{% block content %}
<main">
    <div class="container">
        <div class="sectionsHeader">
            <div class="sectionInfo">
                <a href="/info/aviso-de-privacidad">Aviso de privacidad</a>
            </div>
            <div class="sectionInfo">
                <a class="active" href="/info/politicas-de-uso">Políticas de uso</a>
            </div>
            <div class="sectionInfo">
                <a href="/info/contactar">Contáctanos</a>
            </div>
        </div>
        <div class="card-cont">
            <h1>Políticas de uso</h1>
            <p>Bienvenido a WikiRecetas. Al utilizar nuestro sitio web, aceptas cumplir con las siguientes políticas de uso:</p>
            <h3>1. Uso adecuado</h3>
            <p>El contenido de WikiRecetas es para uso personal y no comercial. No debes copiar, distribuir o modificar el contenido sin nuestro permiso explícito.</p>
            <h3>2. Contenido generado por usuarios</h3>
            <p>Si contribuyes con recetas o comentarios, asegúrate de que sean originales y no infrinjan los derechos de terceros. Nos reservamos el derecho de eliminar cualquier contenido que consideremos inapropiado.</p>
            <h3>3. Privacidad</h3>
            <p>Respetamos tu privacidad. Consulta nuestro <a href="/info/aviso-de-privacidad">aviso de privacidad</a> para entender cómo manejamos tu información personal.</p>
            <h3>4. Responsabilidad</h3>
            <p>No somos responsables por cualquier daño o pérdida que pueda surgir del uso de nuestro sitio web o de la confianza en la información proporcionada.</p>
            <h3>5. Cambios en las políticas</h3>
            <p>Nos reservamos el derecho de actualizar estas políticas en cualquier momento. Te notificaremos sobre cambios significativos a través de nuestro sitio web.</p>
            <p>Si tienes alguna pregunta sobre nuestras políticas de uso, no dudes en <a href="/info/contactar">contactarnos</a>.</p>
        </div>
    </div>
</main>
{% endblock %}