{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info-secciones.css') }}">
{% endblock %}
{% block title %}
Sugerencia
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="card-title">
            <h1>¿Tienes alguna sugerencia?</h1>
            <p>Dinos qué sugerencia o comentario tienes sobre nosotros.</p>
        </div>

        <div class="card-cont">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" style="color: green; text-align: center; margin-bottom: 15px; font-weight: bold;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        
            <form action="{{ url_for('sugerencias') }}" method="POST">
                <div class="input-wrapper">
                    <input type="email" placeholder=" " id="idEmail" name="email" 
                           value="{{ current_user.email if current_user.is_authenticated else '' }}" required>
                    <label for="idEmail">Correo</label>
                </div>
                <div class="input-wrapper asunto">
                    <textarea name="mensaje" id="idSugerencia" placeholder=" " required></textarea>
                    <label for="idSugerencia">Escribe tu sugerencia</label>
                </div>
                <div class="btnSubmit">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
        
    </div>
</main>
{% endblock %}